body{
    background-color: hsl(148, 38%, 91%);
    font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: auto;
  width: auto;
  height: auto;
}

.full-content{
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 9%;
    left: 30%;
    margin: auto;
    width: 425px;
    height:80%;
    border-radius: 15px;

   
}
.contact{
    padding: 15px;
    position: absolute;
    top: 0.7%;
    left: 2%;
    color: hsl(170, 9%, 13%);
    font-size: 25px;
    font-weight: bold;
}
.label{
    
    position: absolute;
    top: 11%;
    left: 5%;
    
    
}

input:hover{
    border: 2px solid hsl(169, 82%, 27%);
}

.class{
   
    position: absolute;
    top: 16%;
    left: 5%;
    width: 42%;
    height: 5%;
    border:1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.label-1{
  
    position: absolute;
    top:11%;
    left: 53%;
    
}
.class-1{
    
    position: absolute;
    top:16%;
    width:42%;
    left: 52%;
    height: 5%;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
.label-2{
    position: absolute;
    top: 26%;
    left:5%;
    
}
.class-2{
    
    position:absolute;
    top: 31.5%;
    left: 5%;
    width: 89%;
    height: 5.5%;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    
}
.label-3{
    position: absolute;
    top:40%;
    left:5%;   
}

.class-3{
    position: absolute;
    top: 25%;
    left: 4%;
    cursor: pointer;
    
   
}
.general:hover{
    background-color: hsl(148, 38%, 91%);
}
.support:hover{
    background-color: hsl(148, 38%, 91%);
}
.label-4{
    position: absolute;
    top:22%;
    left: 18%;
    
}
.general{
    border:1px solid grey;
    width: 42%;
    height: 6%;
    position: absolute;
    top:46.5%;
    left: 5%;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;

}
.support{
    border:1px solid grey;
    width: 42%;
    height:6%;
    position: absolute;
    top: 46.5%;
    left: 53%;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;

}
.class-4{
    position: absolute;
    top: 25%;
    left: 5%;
    cursor: pointer;
}
.label-5{
    position: absolute;
    top: 22%;
    left:18%;
}
.label-6{
    position:absolute;
    top: 56%;
    left: 20px;
}
.class-5{
    position: absolute;
    top: 62%;
    width: 89%;
    height: 74px;
    left: 5%;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.label-7{
    position: absolute;
    left:9% ;
    cursor: pointer;
    bottom: 15%;
 }   

 .class-6{
    position: absolute;
    bottom: 15%;
    left: 3%;
 }
.class-7{
    text-align: center;
    position: absolute;
    color: white;
    font-weight: bold;
    bottom: 3.5%;
    left: 4%;
    width: 90%;
    height: 6.5%;
    background-color: hsl(169, 82%, 27%);
    border: 1px solid hsl(169, 82%, 27%);
   
    border-radius: 5px;
    cursor: pointer;
    
}
.label-8{
 color: rgb(227, 242, 243);
 position: absolute;
 top: 91%;
 right: 43%;
 font-weight: bold;
}
.class-7:hover{
    background-color:hsl(169, 63%, 17%);}


input[type='radio'] {
    accent-color: hsl(169, 82%, 27%);
}
input[type='checkbox']{
    accent-color:hsl(169, 82%, 27%) ;
}